.movies {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #D3D3D3;
}

.container {
  padding: 20px;
}
